<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="1" parallel="tests">
	<parameter name="URL"
		value="https://orangehrm-demo-6x.orangehrmlive.com/" />
	<parameter name="Designation" value="Global Admin" />
	<test name="Test1">
		<parameter name="Browser" value="Chrome" />
		<groups>
			<run>
				<include name="smoke" />
			</run>
		</groups>
		<classes>
			<class name="AdminLogin.UserManagementAddUsers" />
			<class name="AdminLogin.MultipleWindow" />
		</classes>
	</test>
	<!-- <test name="Test2"> <parameter name="Browser" value="Firefox" /> <classes> 
		<class name="AdminLogin.MultipleWindow" /> </classes> </test> -->
</suite> <!-- Suite -->
